<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Face Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Face Detection</h1>
      <form
        action="/upload"
        id="upload-form"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="file" id="file" required />
        <button type="submit">Upload</button>
      </form>
      <form
        action="/analyse"
        id="Camera-form"
        method="post"
        enctype="multipart/form-data"
      >
      <button type="submit">analyse</button>
      </form>
      <div id="result"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
